# Problem Set #2

# Question1

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
# Step 1

In [3]:
b()

In [4]:
# In this step , function "b()" is called which is importing the global reference of variable a  and calling the function "c()""

In [5]:
# when function "c()" is executed , it has increment the value of variable a from 0 to 2 which is then stored in global variable a

In [6]:
b()

In [7]:
# the above steps are repeated again , Now the value of a(global variable) is increased from 2 to 4

In [8]:
b()

In [9]:
# the above steps are repeated again , Now the value of a(global variable) is increased from 4 to 6

In [10]:
print(a)

6

# Question 2

In [13]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File ' + file_name +' not found')

In [14]:
file_length('test.txt')

48

# Question 3

In [15]:
class Marsupial(object):
    def __init__(self):
        self.queue = []

    def put_in_pouch(self, data):
        self.queue.append(data)
        
    def pouch_contents(self):
        print(self.queue)


if __name__ == '__main__':
    m = Marsupial()
    m.put_in_pouch('doll')
    m.put_in_pouch('firetruck')
    m.put_in_pouch('kitten')

In [16]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [17]:
class Kangaroo(Marsupial):
    'defining class Kangaroo which is child class of Marsupial'
    
    def __init__(self, xcoord=0, ycoord=0):
        'initialize coordinates to (xcoord, ycoord)'
        self.queue = []
        self.x = xcoord
        self.y = ycoord
        
    def __str__(self):    
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)
    
    def jump(self, dx, dy):
        'change the x and y coordinates by dx and dy'
        self.x += dx
        self.y += dy

In [18]:
k = Kangaroo(0,0)

In [19]:
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [20]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten') 
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [21]:
k.jump(1,0) 
k.jump(1,0) 
k.jump(1,0) 
print(k)

I am a Kangaroo located at coordinates (3, 0)

# Question 4

In [22]:
def collatz(n):
    print(n)
    if n <= 1:
        return
    if n%2 == 0:
        collatz(n/2)
    else:
        collatz((3*n)+1)

In [23]:
collatz(1)

1

In [24]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0
1.0

# Question 5

In [95]:
def binary( n ):
    if n == 0:
        return 0
    else:
        return (n % 2 + 10 * binary(int(n // 2)))

In [96]:
binary(0)

0

In [97]:
binary(1)

1

In [98]:
binary(3)

11

# Question8

In [25]:
# Making connection with sqlite datatable and ctreating the datatable
import sqlite3
con = sqlite3.connect('climate_information.db')
cur = con.cursor()
cur.execute("CREATE TABLE season_info (city text, country text, season text,temperature real,rainfall real)")

In [26]:
cur.execute('INSERT INTO  season_info VALUES ("Mumbai", "India", "Winter", 24.8,5.9)')

In [27]:
# Inserting the data values into the table
 
record_2 = ("Mumbai", "India", "Spring", 28.4, 16.2)
record_3 = ("Mumbai", "India", "Summer", 27.9, 1549.4)
record_4 = ("Mumbai", "India", "Fall", 27.6, 346.0)
record_5 = ("London", "United Kingdom", "Winter", 4.2, 207.7)
record_6 = ("London", "United Kingdom", "Spring", 8.3, 169.6)
record_7 = ("London", "United Kingdom", "Summer", 15.7, 157.0)
record_8 = ("London", "United Kingdom", "Fall", 10.4, 218.5)
record_9 = ("Cairo", "Egypt", "Winter", 13.6, 16.5)
record_10 = ("Cairo", "Egypt", "Spring", 20.7, 6.5)
record_11 = ("Cairo", "Egypt", "Summer", 27.7, 0.1)
record_12 = ("Cairo", "Egypt", "Fall", 22.2, 4.5)

In [28]:
cur.execute("INSERT INTO season_info VALUES (?, ?, ?, ?, ?)", record_2)
cur.execute("INSERT INTO season_info VALUES (?, ?, ?, ?, ?)", record_3)
cur.execute("INSERT INTO season_info VALUES (?, ?, ?, ?, ?)", record_4)
cur.execute("INSERT INTO season_info VALUES (?, ?, ?, ?, ?)", record_5)
cur.execute("INSERT INTO season_info VALUES (?, ?, ?, ?, ?)", record_6)
cur.execute("INSERT INTO season_info VALUES (?, ?, ?, ?, ?)", record_7)
cur.execute("INSERT INTO season_info VALUES (?, ?, ?, ?, ?)", record_8)
cur.execute("INSERT INTO season_info VALUES (?, ?, ?, ?, ?)", record_9)
cur.execute("INSERT INTO season_info VALUES (?, ?, ?, ?, ?)", record_10)
cur.execute("INSERT INTO season_info VALUES (?, ?, ?, ?, ?)", record_11)
cur.execute("INSERT INTO season_info VALUES (?, ?, ?, ?, ?)", record_12)

In [29]:
#Write SQL queries on the below database table that return:

In [31]:
cur.execute("SELECT *FROM season_info")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [32]:
# All the temperature data.
cur.execute("SELECT temperature FROM season_info")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [33]:
#All the cities, but without repetition.
cur.execute("SELECT distinct(city) FROM season_info")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [34]:
# All the records for India.
cur.execute("SELECT * FROM season_info where country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [35]:
#All the Fall records.
cur.execute("SELECT * FROM season_info where season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [36]:
#The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cur.execute("SELECT city, country, season,avg(rainfall) FROM season_info group by city, country, season having avg(rainfall) BETWEEN 200 and 400")
cur.fetchall()

[('London', 'United Kingdom', 'Fall', 218.5),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [37]:
#The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cur.execute("SELECT city, country FROM season_info where season = 'Fall' group by city, country having avg(temperature) > 20")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [38]:
#The total annual rainfall for Cairo.
cur.execute("SELECT sum(rainfall) FROM season_info where city = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [39]:
#The total rainfall for each season.
cur.execute("SELECT season,sum(rainfall) FROM season_info group by season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [40]:
con.commit()
con.close()

# Question 9

In [41]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [42]:
# a) Converting words to upper case
words_upper_case= [word.upper() for word in words]
print(words_upper_case)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [43]:
# b) Converting words to lowe case
words_lower_case= [word.lower() for word in words]
print(words_lower_case)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [44]:
# c) the list of lengths of words in list words
words_len_lst= [len(word) for word in words]
print(words_len_lst)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [45]:
# d) list containg the upper caser , lower case and length of word
final_lst = []
for word in words:
    lst = []
    lst.append(word.upper())   #converting each word to upper case 
    lst.append(word.lower())   #converting each word to lower case 
    lst.append(len(word))      #finding the length of word 
    final_lst.append(lst)      # appending the upper case , lowe case and length of each word to final list

In [46]:
print(final_lst)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [47]:
# e) list of words containing 4 or more characters
final_list = []
for word in words:
    if len(word) >=4:
        final_list.append(word)

print(final_list)

['quick', 'brown', 'jumps', 'over', 'lazy']